language: rust

before_script:
  - sudo add-apt-repository ppa:terry.guo/gcc-arm-embedded -y
  - sudo apt-get update -q
  - sudo apt-get install gcc-arm-none-eabi
  - git clone https://github.com/RustyGecko/cargo-linkargs
  - cd cargo-linkargs
  - cargo build
  - export PATH=$PATH:`pwd`/target/debug
  - cd ..
  - echo $PATH
  - pwd

before_install:
  - git submodule update --init --recursive

script:
  - make test
  - make clean-emlib
  - make build-tests
